{% extends 'app/base.html' %}
{% load static %}
{% block title %}Services{% endblock title %}
{% block heading %}Our Services{% endblock heading %}
{% comment %} {% block headingpara %}A digital agency for all academic solution{% endblock headingpara %} {% endcomment %}
{% block content %}
	
	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Services</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
					</div>
				</div>
			</div>

			<div class="row container">
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item-cart">
						<div class="product-image">
                            <i class="fas fa-search"></i>
						</div>
						<h3>Digital Marketing</h3>
                        <div class="container">Digital marketing matters more than ever, now. The importance of digital marketing has increased tremendously in the present scenario of COVID 19 pandemic. Evidently, the internet has become the only constant in the sea of uncertainties. It serves as the great source for both entertainment and business. With the retardation seen in the growth of offline businesses due to the negative impacts of the pandemic and lockdown, significant opportunities have taken birth for the businesses to flourish on the online platforms with the help of social media and digital marketing. Now is the best time to create optimized digital marketing strategies that shall help grow your business in both profit and reach.</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item-cart">
						<div class="product-image">
							<i class="fas fa-search"></i>
						</div>
						<h3>Books, Stationary & Digital Content</h3>
                        <div class="container">No need to wander around for study material and resource books for now there is one single destination to find all you need at one place i.e. Edumates Pvt Ltd. We provide you personalised books and stationery with Institution names and their branding. Vast range of educational books, toy stories, picture books, digital content, E- books and many more for all K-12 classes from best publications and manufacturers. Our top publishers and Manufacturers are:
                            <ul>
                                <li>NCERT</li>
                                <li>Pearson</li>
                                <li>Oxford</li>
                                <li>Saraswati</li>
                                <li>Rachna Sagar</li>
                                <li>Mc-graw hills</li>
                                <li>Brain Mate</li>
                                <li>S. Chand</li>
                                <li>Next Education</li>
                                <li>Classmate etc….</li>
                            </ul>
                            NOTE: We also provide Magazines, Novels and all types of library books.</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item-cart">
						<div class="product-image">
							<i class="fas fa-search"></i>
						</div>
						<h3>School Dress</h3>
						<div class="container">What adds more to our overall personality is, the right dress. The dress which can act as an icing to the cake. Here at Edumates , all types of customised dresses (skirt, pants, shirt, salwar, suit, Tie, Belt, scarf, shoes, Pullovers, Blazers, Sweater, Track suit, T-shirt, Sport shoes) are available for every age group of students and school faculty. We design uniforms as per the requirement and choice of our customers. <br>
                        Our top Manufactures:-
                        Edumates, Liberty, Linen Club, Woven Fabric, Allied Outfitters, Andy Uniforms, Lakhani, Campus and many more.......</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item-cart">
						<div class="product-image">
							<i class="fas fa-search"></i>
						</div>
						<h3>Classroom and Office Furnitures</h3>
						<div class="container">The aura and decor of the place where we spend almost more than half of our day plays a very significant role our life. Well-furnished classrooms and offices add positive vibes to our energy and to our mood. We keep the comfort and ease of students and school faculty in mind while designing the furniture for the schools as per their requirement and need. <br>

                            Some of the quality products we provide include Almirah, Chair, Table, Benches, Podium, White Board, Green board, Display board, Smart boards, Notice Board, Kids Furniture etc.</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item-cart">
						<div class="product-image">
							<i class="fas fa-search"></i>
						</div>
						<h3>LAB Setup</h3>
						<div class="container">Nowadays, in almost all disciplines of education, students spend considerable parts of their time doing a wide range of practical or laboratory work. Here the learning is very 'hands on' and classes are designed to allow students to practise and develop a wide range of discipline-based techniques and personal skills. <br>

                            Edumates is here to give the best of our services in the setup of these practical laboratories (Language labs, Home Science labs, Chem/Physics/Bio/Maths Labs, Artificial Intelligence labs, Art Integration labs, Computer labs, etc..) for every single field your institution requires. We ensure the good quality of equipment and setups you avail from us.</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item-cart">
						<div class="product-image">
							<i class="fas fa-search"></i>
						</div>
						<h3>ART & Craft</h3>
                        <div class="container">
						As the New Education Policy suggests, Students learn quickly when their education is integrated with art and craft. Creativity evokes a better learning capacity in children. <br>
                            All types of decorative material for giving an effective look to your Art rooms and the pre- primary classes are available with us. Equipment like Canvas, Canvas stand, Different kind of brushes, Colours etc to explore the beauty of the world through arts can be availed here, at Edumates.
                        </div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item-cart">
						<div class="product-image">
							<i class="fas fa-search"></i>
						</div>
						<h3>Sports Material</h3>
						<div class="container">In the contemporary world of competition, not only education but sports also play a major role in the overall development of children. As more and more people are inclining towards it and bringing laurels both for country and self. We are here to extend our helping hands to encourage our futures of tomorrow to grow more in this field. For which we provide all kind of sports equipment (e.g- Cricket, Soccer, Badminton, Tennis, Basketball, Table Tennis, Volleyball, Skating, Carrom, Snooker, Chess etc…) and facilities to the schools as per their requirement.</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item-cart">
						<div class="product-image">
							<i class="fas fa-search"></i>
						</div>
						<h3>Music Equipments</h3>
						<div class="container">And when all is here what you need. How can we leave music behind. With art and creativity comes music and dance too. Edumates provides you all types of music equipment and instruments (e.g.- Music System, Mike, Sound System, Harmonium, Tabla, Drum Set, Keyboard, Piano, Guitar, Violin, Sitar etc..) to enhance the beauty of music room and mood of the student and faculty of the school.</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item-cart">
						<div class="product-image">
							<i class="fas fa-search"></i>
						</div>
						<h3>Educational Tours</h3>
						<div class="container">Provide all kind and across the globe Educational trip for Students and Educationist.</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item-cart">
						<div class="product-image">
							<i class="fas fa-search"></i>
						</div>
						<h3>Sports & Academic Competition</h3>
						<div class="container">Organise All types of Sports Competition and Talent Hunt from School Level to National Level.</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item-cart">
						<div class="product-image">
							<i class="fas fa-search"></i>
						</div>
						<h3>Printing & Designing</h3>
						<div class="container">We provide all types of comtomised printing solution (Books, Notebook, Notpad, Office Stationery, School Dairy, Prospectus, School bag, Pamphlet, Card, Calender, Flex etc...)</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item-cart">
						<div class="product-image">
							<i class="fas fa-search"></i>
						</div>
						<h3>Curriculum & Planner Design</h3>
						<div class="container">A good academic result is what everybody whether parents, teachers or administration aspires for. Edumates is accompanied with subject experts and counsellors who can give best solutions from designing and planning of curriculum to its execution to help institution achieve great results.</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item-cart">
						<div class="product-image">
							<i class="fas fa-search"></i>
						</div>
						<h3>Recruitment & Training</h3>
						<div class="container">Without any trained faculty any kind of service is a waste. Therefore, we also help in the recruitment of Teaching ( Activity teachers, Subject experts, Admin staff, Lab Assistant, Librarian, counsellors etc) and non-teaching staff (peon, maid, helpers, drivers, guard etc) and their training as well.</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item-cart">
						<div class="product-image">
							<i class="fas fa-search"></i>
						</div>
						<h3>Advertisement & Promotions</h3>
						<div class="container">Without reaching to the audience or with lack of loyal customers and dedicated partners, every business and its hard work goes in vain. So, here we are to increase your reach to exponential heights with better ideas to plan advertisements and organize promotional events. (e.g- Newspaper Ad, TV Ad, Hordings, Pamphlet in Newpaper, Canopy etc..)</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
					<div class="single-product-item-cart">
						<div class="product-image">
							<i class="fas fa-search"></i>
						</div>
						<h3>Transport Services</h3>
						<div class="container">We provide tranport related support to schools. New/Old Purchase, Contract, RTO Work, Insurance ect..</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product section -->

	
{% endblock content %}

	